#sobre {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;
}

.img-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.img-card a {
    text-decoration: none;
    color: #fff;
    background-color: #b79bd0;
    padding: 12px 24px;
    border-radius: 8px;
}

#foto-perfil {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 0.5px #b79bd0;
}


.info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info div {
    padding: 16px;
    border-radius: 8px;
    background-color: rgb(39, 39, 39);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.habilidades {
    margin-left: 24px;
    text-align: start;
}

.container div p{
    margin-top: 12px;
    text-align: justify;
}

@media screen and (max-width: 915px) {
    #sobre {
        padding: 120px 48px 0;
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 490px) {
    #sobre {
        padding: 120px 48px 0;
        margin-bottom: 20px;
    }

    #foto-perfil {
        width: 200px;
        height: 200px;
    }

    .container div {
        text-align: center;
    }
    
}

